.container__pagination {
    display: flex;
    justify-content: flex-end;

    .pagination {
        display: flex;

        li {
            flex: 0;
            margin: 0 2px;
        }
        button {
            border: 0;
            outline: none;
            height: 32px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 6px;
            padding-right: 6px;
            font-size: 16px;

            svg {
                padding-left: 6px;
            }
            &:hover {
                background-color: #e0eee2;
            }

            &.btn--next {
                path {
                    fill: $gray-tint11;
                }
            }
            &.btn--previous {
                svg {
                    transform: rotate(180deg);
                    fill: $gray-tint11;
                }
            }
        }
        span {
            color: $green-tint01;
            background-color: #e0eee2;
        }
    }

    .wrapper-horizontal {
        ul {
            li {
                margin-right: 0;
                width: 32px;
                height: 32px;
                text-align: center;
                line-height: 32px;
                position: relative;

                label {
                    font-weight: 400;
                    font-size: 16px;
                    display: block;
                    width: 32px;
                }

                input {
                    width: 0;
                    height: 0;
                    position: absolute;
                    border: 0;
                    box-shadow: none;

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 32px;
                        height: 32px;
                        background-color: white;
                        z-index: -1;
                        left: 0;
                        top: -3px;
                    }
                    &:hover,
                    &:checked {
                        border: 0;
                        box-shadow: none;
                        &::before {
                            color: $green-tint01;
                            background-color: #e0eee2;
                        }
                    }
                    &:focus {
                        &:before {
                            @include focus-outline();
                        }
                    }
                }
            }
        }
    }
}
