<div>
    <button type="button"
            class="btn btn-secondary btn-files"
            id="buttonFile_{{ field.auto_id }}"
            data-action="bijlagen#showFileInput">
        <svg width="32"
             height="32"
             viewBox="0 0 32 32"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17 6H15V15H6V17H15V26H17V17H26V15H17V6Z" fill="#fff" />
        </svg>
        <span>
            {% if field.field.widget.attrs.button_text %}
                {{ field.field.widget.attrs.button_text }}
            {% else %}
                Foto toevoegen
            {% endif %}
        </span>
    </button>
    {% if field.help_text %}<p class="help-block">{{ field.help_text|safe }}</p>{% endif %}
    {% for error in field.errors %}
        <span class="help-block invalid-text {{ form.error_css_class }}">{{ error }}</span>
    {% endfor %}
    <div class="file-upload multiple hidden" tabindex="1">
        <div class="file-upload-mask">Sleep één of meer bestanden hier naartoe, of klik hier om bestanden te uploaden</div>
        {% include "django/forms/widgets/input.html" %}
        <div id="imagesPreview" class="preview"></div>
    </div>
</div>
