Django==4.2.15
django-filter==22.1
django-health-check
django_redis
django-permissions-policy==4.14.0
django-cors-headers==3.13.0
django-csp==3.6
django-db-schema-renderer==0.1.2
django-spaghetti-and-meatballs==0.4.2
django-session-timeout-joinup==1.0.0
django-webpack-loader==1.7.0
djangorestframework==3.15.1
djangorestframework-csv==2.1.1
djangorestframework-xml==2.0.0
djangorestframework-gis==1.0
drf-extensions==0.7.1
drf-writable-nested==0.7.0
drf-spectacular==0.26.0
drf_extra_fields==3.4.1
factory-boy==3.2.1
uWSGI==2.0.25.1
psycopg2>=2.9.5
requests==2.29.0
debugpy
redis==4.5.5
mozilla-django-oidc==3.0.0
PyJWT<2.4.0
chardet==5.2.0

# development
django-debug-toolbar==4.0.0
Faker==8.13.2

# tests
requests_mock
