Django==5.2.8
django-extensions==3.2.1
django-filter==25.2
django-health-check
django_redis
django-permissions-policy==4.26.0
django-cors-headers==4.9.0
django-csp==4.0
django-db-schema-renderer==0.1.2
django-spaghetti-and-meatballs==0.4.2
django-webpack-loader==1.7.0
django-session-timeout-joinup==1.0.0
djangorestframework==3.16.1
djangorestframework-csv==3.0.2
djangorestframework-gis==1.2.0
djangorestframework-xml==2.0.0
drf-extensions==0.8.0
drf-writable-nested==0.7.2
drf-spectacular==0.28.0
drf-extra-fields==3.7.0
factory-boy==3.2.1
uWSGI==2.0.25.1
psycopg2>=2.9.5
django-webpack-loader==1.7.0
requests==2.32.5
debugpy
redis==4.5.5
mozilla-django-oidc==3.0.0
PyJWT<2.4.0
chardet==5.2.0

# development
django-debug-toolbar==6.0.0
Faker==8.13.2

# tests
requests_mock
