{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Onderwerpen{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ABSOLUTE_ROOT}}{%webpack_static 'images/apple-touch-icon.png' %}"/>
        <link rel="icon" type="image/png" sizes="32x32" href="{{ABSOLUTE_ROOT}}{%webpack_static 'images/favicon-32x32.png' %}"/>
        <link rel="icon" type="image/png" sizes="16x16" href="{{ABSOLUTE_ROOT}}{%webpack_static 'images/favicon-16x16.png' %}"/>
        <link rel="mask-icon" href="{{ABSOLUTE_ROOT}}{%webpack_static 'images/safari-pinned-tab.svg' %}" color="#00811f"/>
        <link rel="manifest" href="{{ABSOLUTE_ROOT}}{%webpack_static 'manifest.json' %}"/>
        <link rel="shortcut icon" href="{{ABSOLUTE_ROOT}}{%webpack_static 'images/favicon.ico' %}"/>
        <link rel="icon" href="{{ABSOLUTE_ROOT}}{%webpack_static 'images/favicon.ico' %}"/>

        {% block stylesheets %}
            {% render_bundle 'app' 'css' %}
        {% endblock %}

        {% if DEBUG %}
        <script>
            const chatSocket = new WebSocket(
                "ws://localhost:"
                + {{DEV_SOCKET_PORT}}
            );

            chatSocket.onmessage = function(e) {
                if (e.data === "reload"){
                    location.reload()
                }
            };

            chatSocket.onclose = function(e) {
                console.error("socket closed unexpectedly");
            };
        </script>
        {% endif %}

        {% block javascripts %}
            {% render_bundle 'app' 'js' %}
        {% endblock %}
    </head>
    <body>
        <a href="#id_maincontent" class="skiplink">Ga direct naar de content</a>
        {% block header %}
         {% with page_title="Onderwerpen" %}
            {% include 'snippets/pageheader.html' %}
        {% endwith %}
        {% endblock %}
        <main data-controller="main">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>
        <div class="spinner"></div>
        {% include "auth/session_timer.html" %}
    </body>
</html>
