{% extends "base.html" %}
{% block title %}
    Home | PlanR
{% endblock title %}
{% block body %}
    <turbo-frame id="overview">
    <div class="border-green print-only"></div>
    <div class="page__detail">
        <div data-controller="detail">
            <div class="grid-container">
                <div class="grid-item">
                    <div>
                        <h1>Home</h1>
                    </div>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <section class="section--seperated">
                        <div class="container__details">
                            <h2>Om te beginnen</h2>
                            <p>
                                Je bent wel ingelogd, maar je account heeft nog wat aandacht nodig om gebruik te kunnen maken van PlanR.
                                <br>
                                Hieronder vind je de instellingen zoals je nu bij ons bekend bent.
                            </p>
                            {% include "auth/rollen_rechten.html" %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    </turbo-frame>
{% endblock body %}
