{% extends "base.html" %}
{% load rotterdam_formulier_html %}
{% load json_encode from json_tags %}

{% block body %}
<div class="page__beheer" data-controller="row-search">
    <div>
        <a href="{% url 'beheer' %}" class="link--back">
            <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.15173 1.73256L7.73753 0.318359L1.44704 6.60885L1.4142 6.576L0 7.9902L1.4115 9.4017L1.37867 9.43453L7.67186 15.7277L9.08606 14.3135L3.7726 9.00006H24.0098V7.00006H3.88423L9.15173 1.73256Z" fill="#404B4F"/>
            </svg>
            Beheer
        </a>
    </div>
    <div class="container__flex">
        <h1>Onderwerpen prioriteiten</h1>
    </div>

    <form>
        <div class="form-row">
            <label class="" for="id_zoeken">Zoeken</label>
            <div>
                <input type="text" id="id_zoeken" name="zoeken" class="form-control " data-action="row-search#search">
            </div>
        </div>
    </form>

    <table>
        <tr>
            <th>Groep</th>
            <th>Onderwerp</th>
            <th>Prioriteit</th>
            <th></th>
        </tr>
        {% for object in object_list %}
        <tr data-row-search-target="row">
            <td data-row-search-target="searchable">{{object.group.name}}</td>
            <td data-row-search-target="searchable">{{object.name}}</td>
            <td data-row-search-target="searchable">{% if object.meta.priority == 1 %}Hoog{% else %}Normaal{% endif %}</td>
            <td><a href="{% url 'onderwerp_aanpassen' object.pk %}">Aanpassen</a></td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
