{% extends "base.html" %}
{% load rotterdam_formulier_html %}
{% load json_encode from json_tags %}

{% block body %}
<div class="page__beheer" data-controller="row-search">
    <div>
        <a href="{% url 'beheer' %}" class="link--back">
            <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.15173 1.73256L7.73753 0.318359L1.44704 6.60885L1.4142 6.576L0 7.9902L1.4115 9.4017L1.37867 9.43453L7.67186 15.7277L9.08606 14.3135L3.7726 9.00006H24.0098V7.00006H3.88423L9.15173 1.73256Z" fill="#404B4F"/>
            </svg>
            Beheer
        </a>
    </div>
    <div class="container__flex">
        <h1>Gebruikerslijst</h1>
        <a class="btn btn-action" href="{% url 'gebruiker_aanmaken' %}">
            <svg width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17 6H15V15H6V17H15V26H17V17H26V15H17V6Z" fill="#ffffff"></path>
            </svg>
            Nieuwe gebruiker
        </a>
    </div>

    <form>
        <div class="form-row">
            <label class="" for="id_zoeken">Zoeken</label>
            <div>
                <input type="text" id="id_zoeken" name="zoeken" class="form-control " data-action="row-search#search">
            </div>
        </div>
    </form>

    {% if ongeauthoriseerde_gebruikers %}
    <h2>Niet geauthoriseerde gebruikers</h2>
    <table>
        <tr>
            <th>E-mailadres</th>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Rechten groep</th>
            <th></th>
        </tr>
        {% for object in ongeauthoriseerde_gebruikers %}
        <tr data-row-search-target="row">
            <td data-row-search-target="searchable">{{object.email}}</td>
            <td data-row-search-target="searchable">{% if object.first_name %}{{object.first_name}}{% else %}-{% endif %}</td>
            <td data-row-search-target="searchable">{% if object.last_name %}{{object.last_name}}{% else %}-{% endif %}</td>
            <td data-row-search-target="searchable">{% if object.groups.all %}{{object.groups.all.0}}{% else %}-{% endif %}</td>
            <td><a href="{% url 'gebruiker_aanpassen' object.pk %}">Aanpassen</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <br>
    <br>
    {% endif %}



    <h2>Geauthoriseerde gebruikers</h2>
    <table>
        <tr>
            <th>E-mailadres</th>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Rechten groep</th>
            <th></th>
        </tr>
        {% for object in geauthoriseerde_gebruikers %}
        <tr data-row-search-target="row">
            <td data-row-search-target="searchable">{{object.email}}</td>
            <td data-row-search-target="searchable">{% if object.first_name %}{{object.first_name}}{% else %}-{% endif %}</td>
            <td data-row-search-target="searchable">{% if object.last_name %}{{object.last_name}}{% else %}-{% endif %}</td>
            <td data-row-search-target="searchable">{% if object.groups.all %}{{object.groups.all.0}}{% else %}-{% endif %}</td>
            <td><a href="{% url 'gebruiker_aanpassen' object.pk %}">Aanpassen</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
